<ion-header>
  <ion-toolbar>
    <ion-title>Search</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col>
          <span>'Out for Bid',&nbsp; 'For Sale',&nbsp; 'Trade',&nbsp; or 'Coverage' in area.</span>
          <br />
          <sup>
            Click '
            <a routerLink="/tabs/tabAbout" class="about-link" style="vertical-align: baseline; padding-left: 2px">About</a>' to
            learn more .
          </sup>
        </ion-col>
      </ion-row>
      <!-- <ion-row>
          <ion-col size="12" >                        
            <span>
              <b>{{withinRangeContractorListings.length}}</b> item<span *ngIf="withinRangeContractorListings.length !== 1" >s</span> of interest within current map view                       
            </span>
          </ion-col>
        </ion-row> -->
      <ion-row id="contentx">
        <ion-col class="fixed-width-col">
          <div class="map-container" style="position: relative">
            <!-- Overlay text  hide on smaller??? *ngIf="!isSmallViewport" -->
            <div class="map-overlay-text" [class.flicker]="flickerOverlay">
              <!-- <ion-icon name="bookmark-outline" size="large" style="vertical-align: middle; margin-right: 6px;"></ion-icon> -->
              <span>
                <b>{{withinRangeContractorListings.length}}</b>
                item<span *ngIf="withinRangeContractorListings.length !== 1">s</span>
              </span>
            </div>
            <!-- The map itself -->
            <google-map class="map-container-google" #googleMap [options]="mapOptions" (boundsChanged)="onMapBoundsChanged()">
              <!-- Existing markers +  '(' + contractorListing.contractorListing.optionType + ')'  -->
              <map-marker
                class="marker"
                *ngFor="let contractorListing of withinRangeContractorListings"
                [position]="getLatLng(contractorListing)"
                [icon]="rangeIcon"
                [label]="{
                    text: contractorListing.contractorListing.type +  ' (' + contractorListing.contractorListing.optionType + ')',                     
                    color: 'black',
                    fontSize: '16px',
                    fontWeight: 'bold'
                  }"
                (mapClick)="onMarkerClick(contractorListing)"
              ></map-marker>
            </google-map>
          </div>
        </ion-col>
        <ion-col size="12" size-md="6" size-lg="6">
          <div style="padding-bottom: 10px">
            <!-- *ngIf="withinRangeContractorListings.length >= 1"  -->
            <!-- <ion-label><sub>Filter options:</sub></ion-label> -->
            <ion-select
              style="width: 190px"
              label="Filter options"
              label-placement="floating"
              [(ngModel)]="selectedIndustry"
              (ionChange)="onIndustryChange()"
            >
              <ion-select-option value="All">All Job Types</ion-select-option>
              <ion-select-option value="Yard Care">Yard Care</ion-select-option>
              <ion-select-option value="Pesticides">Pesticides</ion-select-option>
              <ion-select-option value="Weed & Feed">Weed & Feed</ion-select-option>
              <ion-select-option value="Pool Maintenance">Pool Maintenance</ion-select-option>
              <ion-select-option value="Poop Scooping">Poop Scooping</ion-select-option>
              <ion-select-option value="Maid & Cleaning Services">Maid & Cleaning Services</ion-select-option>
            </ion-select>
            <div class="checkbox-group">
              <ion-checkbox [(ngModel)]="optionOutForBid" labelPlacement="end" (ionChange)="selectCheckBox('Out for Bid')"
                >Out for bid</ion-checkbox
              >
              <ion-checkbox [(ngModel)]="optionForSale" labelPlacement="end" (ionChange)="selectCheckBox('For Sale')"
                >For Sale</ion-checkbox
              >
              <ion-checkbox [(ngModel)]="optionTrade" labelPlacement="end" (ionChange)="selectCheckBox('optionForTrade')"
                >Trade</ion-checkbox
              >
              <ion-checkbox [(ngModel)]="optionCover" labelPlacement="end" (ionChange)="selectCheckBox('optionForCover')"
                >Cover</ion-checkbox
              >
              <ion-icon
                name="help-circle-outline"
                (click)="openPopup()"
                title="Click for more information"
                style="cursor: pointer"
              ></ion-icon>
            </div>
          </div>

          <!-- <div style="padding-bottom: 5px;">Override ordering preference</div>        
            <ion-radio-group [(ngModel)]="sortingValue" class="radio-group">
              <div class="radio-label">
                <ion-radio slot="start" value="useAi"></ion-radio>
                <span (click)="selectRadio('useAi')">Use Ai</span>
              </div>
              <div class="radio-label">
                <ion-radio slot="start" value="proximity"></ion-radio>
                <span (click)="selectRadio('proximity')">Nearest me</span>
              </div>
              <div class="radio-label">
                <ion-radio slot="start" value="Popularity"></ion-radio>
                <span (click)="selectRadio('Popularity')">Popularity by Area</span>
              </div>
              <div class="radio-label">
                <ion-radio slot="start" value="cost"></ion-radio>
                <span (click)="selectRadio('cost')">Cost</span>
              </div>
              <div class="radio-label">
                <ion-radio slot="start" value="Quality"></ion-radio>
                <span (click)="selectRadio('Quality')">Quality</span>
              </div>
              <div class="radio-label">
                <ion-radio slot="start" value="Dependability"></ion-radio>
                <span (click)="selectRadio('Dependability')">Dependability</span>
              </div>
              <div class="radio-label">
                <ion-radio slot="start" value="Professionalism"></ion-radio>
                <span (click)="selectRadio('Professionalism')">Professionalism</span>
              </div>
            </ion-radio-group> -->

          <!-- <ion-reorder-group [disabled]="false" (ionItemReorder)="handleReorder($any($event))">
              @for (item of items; track item) {
              <ion-item>
                <ion-label> {{ item }} </ion-label>
                <ion-reorder slot="end"></ion-reorder>
              </ion-item>
              }
            </ion-reorder-group> -->

          <ul>
            <li style="padding-bottom: 7px" *ngFor="let addressObj of withinRangeContractorListings">
              <div id="DisplayCard-List">
                '{{addressObj.contractorListing.type}}' - by {{addressObj.contractorListing.company.companyName}}<br />
                <sup>
                  at {{ addressObj.contractorListing.address.street }}, {{ addressObj.contractorListing.address.city }}, {{
                  addressObj.contractorListing.address.state }} {{ addressObj.contractorListing.address.postalCode }} (
                  <a (click)="openPopup(addressObj)">view</a>
                  )
                </sup>
                <!-- <div style="font-size: small;" >
                    phone: <a href="tel:904-386-6129">904-386-6129</a><br>
                    email: <a href="mailto:juddsurfs@gmail.com">juddsurfs&#64;gmail.com</a><br>
                    website: <a target="_blank" href="https://www.google.com">website: www.google.com</a>
                  </div> -->
              </div>
            </li>
          </ul>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <!-- Popup Modal -->
  <ion-modal class="sizer-modal" [isOpen]="isPopupOpen" (ionModalDidDismiss)="closePopup()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <!-- <ion-button id="claimIt" size="small" fill="outline" (click)="onClaimIt()"> Claim it </ion-button> -->
          </ion-buttons>
          <ion-title>{{this.currentContractorListing?.contractorListing?.address?.street}}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closePopup()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <!-- here   *ngIf="currentContractorListing"-->
        <img
          id="arialview-image"
          *ngIf="currentContractorListing"
          [src]="getStaticMapUrl(currentContractorListing.contractorListing.address, 'satellite', satelliteZoom)"
          alt="Satellite Map"
          style="width: 100%; max-width: 350px; border-radius: 8px; margin-bottom: 10px"
        />
        <div style="display: flex; gap: 8px; margin-bottom: 10px">
          <button ion-button size="small" (click)="decreaseSatelliteZoom()">- Zoom Out</button>
          <button ion-button size="small" (click)="increaseSatelliteZoom()">+ Zoom In</button>
        </div>

        <div style="position: relative; width: 100%; max-width: 350px; margin-bottom: 10px">
          <img
            id="streetview-image"
            *ngIf="currentContractorListing"
            [src]="getStreetViewUrl(currentContractorListing.location)"
            alt="Street View"
            style="width: 100%; border-radius: 8px"
          />
          <div
            style="
              position: absolute;
              bottom: 8px;
              left: 8px;
              right: 8px;
              background: rgba(0, 0, 0, 0.2);
              color: #fff;
              padding: 6px 10px;
              border-radius: 6px;
              font-size: 0.7em;
              text-align: left;
            "
          >
            ATTENTION: default view is north facing from pinned location.
          </div>
        </div>
        <div style="display: flex; gap: 8px; margin-bottom: 10px">
          <button ion-button size="small" (click)="streetViewHeading = (streetViewHeading - 15 + 360) % 360">⟲ Left</button>
          <button ion-button size="small" (click)="streetViewHeading = (streetViewHeading + 15) % 360">Right ⟳</button>
          <button ion-button size="small" (click)="decreaseStreetViewFov()">+ Zoom In</button>
          <button ion-button size="small" (click)="increaseStreetViewFov()">- Zoom Out</button>
          <button ion-button size="small" (click)="increaseStreetViewPitch()">↑ Up</button>
          <button ion-button size="small" (click)="decreaseStreetViewPitch()">↓ Down</button>
        </div>
        <div
          style="background: rgba(0, 0, 0, 0.1); margin: 3px 6px 3px 3px; padding: 0px 7px; border-radius: 6px; text-align: left"
        >
          <table id="infoTable" style="width: 100%">
            <tr>
              <td style="text-align: left; width: 50%">
                <div *ngIf="!this.currentContractorListing?.contractorListing?.optionType?.toLowerCase().includes('out for bid')">
                  <sup> <b>Contractor:</b> {{this.currentContractorListing?.contractorListing?.company?.companyName}} </sup>
                  <app-rating id="contractorRating" [percent]="this.contractorRating"></app-rating>
                </div>
              </td>
              <td style="text-align: right; width: 50%">
                <h4>{{this.currentContractorListing?.contractorListing?.type}}</h4>
                <p>{{this.currentContractorListing?.contractorListing?.optionType}}</p>
              </td>
            </tr>
          </table>

          <p style="font-size: smaller">
            <b>Homeowner:</b>
            {{this.currentContractorListing?.contractorListing?.address?.street}},
            {{this.currentContractorListing?.contractorListing?.address?.city}}
            {{this.currentContractorListing?.contractorListing?.address?.state}},
            {{this.currentContractorListing?.contractorListing?.address?.postalCode}}
            <app-rating id="homeOwnerRating" [percent]="this.homeOwnerRating"></app-rating>
          </p>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
