
ion-input {
  --padding-start: 10px;
  //border: 1px solid #ccc; /* Add a border */
  border-radius: 4px; /* Optional: Add rounded corners */
  width: 130px; /* Optional: Make the input take the full width */
  box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
  //font-size: 1rem; /* Adjust the font size as needed */
}

.small-button {
  --padding-start: 4px;
  --padding-end: 4px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  font-size: 10px; 
  margin-left: 8px; 
  vertical-align: middle; /* Ensure the button is vertically centered */ 
}

.map-container {
  height: 100%; /* Set the desired height */
  width: calc(100% - 1%); /* Ensure the container takes the full width of the parent */
  overflow: hidden; /* Ensure the content does not overflow */
  position: relative; /* Ensure the container has a position context */

}

google-map {
  flex: 1; 
  height: 100%; /* Ensure the google-map component takes the full height of the container */
  width: 100%; /* Ensure the google-map component takes the full width of the container */
}

ion-card {
  margin: 4px !important; /* Adjust the margin as needed and add !important */
}

ion-grid {
  padding: 1px !important; /* Adjust the margin as needed and add !important */
}


