<ion-header>
  <ion-toolbar>
    <ion-title>Search</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col style="padding-bottom: 0px">
          <sup style="padding-left: 5px">
            '<a routerLink="/tabs/tabAbout" class="about-link" style="vertical-align: baseline; padding-left: 2px">Learn more</a>'
            or use map to find items of interest. Or click to 'Post'...
          </sup>
          <ion-icon name="trending-down-outline" style="font-size: 16px" color="primary"></ion-icon>
        </ion-col>
      </ion-row>
      <!-- <ion-row>
          <ion-col size="12" >                        
            <span>
              <b>{{withinRangeContractorListings.length}}</b> item<span *ngIf="withinRangeContractorListings.length !== 1" >s</span> of interest within current map view                       
            </span>
          </ion-col>
        </ion-row> -->
      <ion-row id="contentx">
        <ion-col class="fixed-width-col" style="padding-top: 0px">
          <div class="map-container" style="position: relative">
            <!-- Overlay text  hide on smaller??? *ngIf="!isSmallViewport" -->
            <div class="map-overlay-text" [class.flicker]="flickerOverlay">
              <!-- <ion-icon name="bookmark-outline" size="large" style="vertical-align: middle; margin-right: 6px;"></ion-icon> -->
              <span>
                <b>{{withinRangeContractorListings.length}}</b>
                item<span *ngIf="withinRangeContractorListings.length !== 1">s</span>
                / click to add
              </span>
            </div>
            <!-- The map itself -->
            <google-map
              class="map-container-google"
              #googleMap
              [options]="mapOptions"
              (boundsChanged)="onMapBoundsChanged()"
              (mapClick)="onMapClick($event)"
            >
              <!-- Existing markers +  '(' + contractorListing.contractorListing.optionType + ')'  -->
              <map-marker
                class="marker"
                *ngFor="let contractorListing of withinRangeContractorListings"
                [position]="getLatLng(contractorListing)"
                [icon]="rangeIcon"
                [label]="{
                    text: contractorListing.contractorListing.type +  ' (' + contractorListing.contractorListing.optionType + ')',                     
                    color: 'black',
                    fontSize: '16px',
                    fontWeight: 'bold'
                  }"
                (mapClick)="onMarkerClick(contractorListing)"
              ></map-marker>
            </google-map>
          </div>
        </ion-col>
        <ion-col style="padding-top: 0px" size="12" size-md="6" size-lg="6">
          <div style="padding-bottom: 10px">
            <ion-select
              style="width: 190px"
              label="Filter job type:"
              label-placement="floating"
              [(ngModel)]="selectedIndustry"
              (ionChange)="onIndustryChange()"
            >
              <ion-select-option value="All">All Job Types</ion-select-option>
              <ion-select-option value="Yard Care">Yard Care</ion-select-option>
              <ion-select-option value="Pesticides">Pesticides</ion-select-option>
              <ion-select-option value="Weed & Feed">Weed & Feed</ion-select-option>
              <ion-select-option value="Pool Maintenance">Pool Maintenance</ion-select-option>
              <ion-select-option value="Poop Scooping">Poop Scooping</ion-select-option>
              <ion-select-option value="Maid & Cleaning Services">Maid & Cleaning Services</ion-select-option>
            </ion-select>

            <!-- start options -->
            <div id="UserDiv" style="padding-bottom: 7px">
              <div style="font-size: small; padding-top: 7px; padding-bottom: 7px">
                Ownership options:
                <div class="checkbox-group" style="padding-top: 7px">
                  <ion-checkbox
                    color="medium"
                    class="my-label-text-wrapper ion-checkbox-medium"
                    [(ngModel)]="optionMyProperties"
                    labelPlacement="end"
                    (ionChange)="selectCheckBox('My Properties')"
                    >My Properties
                    <ion-icon
                      name="help-circle-outline"
                      (click)="alertMsg('You have claimed an address as your home or property.')"
                      title="Click for more information"
                      style="cursor: pointer"
                    ></ion-icon
                  ></ion-checkbox>
                  <ion-checkbox
                    style="--checkbox-background-checked: var(--ion-color-medium-shade)"
                    class="my-label-text-wrapper ion-checkbox-medium-shade"
                    [(ngModel)]="optionMyJobs"
                    labelPlacement="end"
                    (ionChange)="selectCheckBox('My Jobs')"
                    >My Jobs
                    <ion-icon
                      name="help-circle-outline"
                      (click)="alertMsg('You or another user tagged your company working at this address.')"
                      title="Click for more information"
                      style="cursor: pointer"
                    ></ion-icon
                  ></ion-checkbox>
                </div>
              </div>
            </div>

            <div id="HomeOwnerDiv" style="padding-bottom: 7px">
              <div style="font-size: small; padding-top: 7px; padding-bottom: 7px">
                Homeowner options:
                <ion-icon
                  name="help-circle-outline"
                  (click)="alertMsg('help todo: homeowners out for bids')"
                  title="Click for more information"
                  style="cursor: pointer"
                ></ion-icon>
              </div>
              <div class="checkbox-group">
                <ion-checkbox
                  color="success"
                  class="my-label-text-wrapper ion-checkbox-success"
                  [(ngModel)]="optionAcceptingBids"
                  labelPlacement="end"
                  (ionChange)="selectCheckBox('Accepting Bids')"
                  >Accepting Bids</ion-checkbox
                >
              </div>
            </div>

            <div id="OptionsDiv" style="padding-bottom: 7px">
              <div style="font-size: small; padding-top: 7px; padding-bottom: 7px">
                Options:
                <ion-icon
                  name="help-circle-outline"
                  (click)="openPopupOptions()"
                  title="Click for more information"
                  style="cursor: pointer"
                ></ion-icon>
              </div>

              <div class="checkbox-group">
                <ion-checkbox
                  color="primary"
                  class="my-label-text-wrapper ion-checkbox-primary"
                  [(ngModel)]="optionPartner"
                  labelPlacement="end"
                  (ionChange)="selectCheckBox('Partner')"
                  >Partner</ion-checkbox
                >

                <ion-checkbox
                  color="primary"
                  class="my-label-text-wrapper ion-checkbox-primary"
                  [(ngModel)]="optionForSale"
                  labelPlacement="end"
                  (ionChange)="selectCheckBox('For Sale')"
                  >For Sale</ion-checkbox
                >
                <ion-checkbox
                  color="primary"
                  class="my-label-text-wrapper ion-checkbox-primary"
                  [(ngModel)]="optionTrade"
                  labelPlacement="end"
                  (ionChange)="selectCheckBox('optionForTrade')"
                  >Trade</ion-checkbox
                >

                <ion-checkbox
                  color="primary"
                  class="my-label-text-wrapper ion-checkbox-primary"
                  [(ngModel)]="optionCover"
                  labelPlacement="end"
                  (ionChange)="selectCheckBox('optionForCover')"
                  >Cover</ion-checkbox
                >
              </div>
            </div>

            <div id="Other1Div" style="padding-bottom: 7px">
              <div style="font-size: small; padding-top: 7px; padding-bottom: 7px">General:</div>
              <div class="checkbox-group">
                <ion-checkbox
                  style="--checkbox-background-checked: var(--ion-color-warning-tint)"
                  class="my-label-text-wrapper ion-checkbox-warning-tint"
                  [(ngModel)]="other1"
                  labelPlacement="end"
                  (ionChange)="selectOtherCheckBox('other1')"
                  >Working in area
                  <ion-icon
                    name="help-circle-outline"
                    (click)="alertMsg('A homeowner or contractor tagged this address so others are aware they are in the area. They may offer incentives or referrals for your business.')"
                    title="Click for more information"
                    style="cursor: pointer"
                  ></ion-icon
                ></ion-checkbox>

                <ion-checkbox
                  style="--checkbox-background-checked: var(--ion-color-warning-shade)"
                  class="my-label-text-wrapper ion-checkbox-warning-shade"
                  [(ngModel)]="other2"
                  labelPlacement="end"
                  (ionChange)="selectOtherCheckBox('other2')"
                  >Unsolicited Bid
                  <ion-icon
                    name="help-circle-outline"
                    (click)="alertMsg('Contractor offered a proposal for your business. They may offer incentives or other benefits for your business. They are generally only visible to the contractor who posted and the homeowner.')"
                    title="Click for more information"
                    style="cursor: pointer"
                  ></ion-icon
                ></ion-checkbox>
              </div>
            </div>
          </div>

          <!-- <div style="padding-bottom: 5px;">Override ordering preference</div>        
            <ion-radio-group [(ngModel)]="sortingValue" class="radio-group">
              <div class="radio-label">
                <ion-radio slot="start" value="useAi"></ion-radio>
                <span (click)="selectRadio('useAi')">Use Ai</span>
              </div>
              <div class="radio-label">
                <ion-radio slot="start" value="proximity"></ion-radio>
                <span (click)="selectRadio('proximity')">Nearest me</span>
              </div>
              <div class="radio-label">
                <ion-radio slot="start" value="Popularity"></ion-radio>
                <span (click)="selectRadio('Popularity')">Popularity by Area</span>
              </div>
              <div class="radio-label">
                <ion-radio slot="start" value="cost"></ion-radio>
                <span (click)="selectRadio('cost')">Cost</span>
              </div>
              <div class="radio-label">
                <ion-radio slot="start" value="Quality"></ion-radio>
                <span (click)="selectRadio('Quality')">Quality</span>
              </div>
              <div class="radio-label">
                <ion-radio slot="start" value="Dependability"></ion-radio>
                <span (click)="selectRadio('Dependability')">Dependability</span>
              </div>
              <div class="radio-label">
                <ion-radio slot="start" value="Professionalism"></ion-radio>
                <span (click)="selectRadio('Professionalism')">Professionalism</span>
              </div>
            </ion-radio-group> -->

          <!-- <ion-reorder-group [disabled]="false" (ionItemReorder)="handleReorder($any($event))">
              @for (item of items; track item) {
              <ion-item>
                <ion-label> {{ item }} </ion-label>
                <ion-reorder slot="end"></ion-reorder>
              </ion-item>
              }
            </ion-reorder-group> -->

          <ul>
            <li style="padding-bottom: 7px" *ngFor="let addressObj of withinRangeContractorListings">
              <div id="DisplayCard-List">
                '{{addressObj.contractorListing.type}}' - by {{addressObj.contractorListing.company.companyName}}<br />
                <sup>
                  at {{ addressObj.contractorListing.address.street }}, {{ addressObj.contractorListing.address.city }}, {{
                  addressObj.contractorListing.address.state }} {{ addressObj.contractorListing.address.postalCode }} (
                  <a (click)="openPopupListing(addressObj)">view</a>
                  )
                </sup>
                <!-- <div style="font-size: small;" >
                    phone: <a href="tel:904-386-6129">904-386-6129</a><br>
                    email: <a href="mailto:juddsurfs@gmail.com">juddsurfs&#64;gmail.com</a><br>
                    website: <a target="_blank" href="https://www.google.com">website: www.google.com</a>
                  </div> -->
              </div>
            </li>
          </ul>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <!-- Popup Modal -->
  <ion-modal id="PropertyDetail" class="sizer-modal" [isOpen]="isPopupOpenListing" (ionModalDidDismiss)="closePopupListing()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button id="claimIt" size="small" fill="outline" (click)="onClaimIt()"> Claim this home </ion-button>
          </ion-buttons>
          <ion-title>{{this.currentContractorListing?.contractorListing?.address?.street}}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closePopupListing()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <!-- here   *ngIf="currentContractorListing"-->
        <img
          id="arialview-image"
          *ngIf="currentContractorListing"
          [src]="getStaticMapUrl(currentContractorListing.contractorListing.address, 'satellite', satelliteZoom)"
          alt="Satellite Map"
          style="width: 100%; max-width: 350px; border-radius: 8px; margin-bottom: 10px"
        />
        <div style="display: flex; gap: 8px; margin-bottom: 10px">
          <button ion-button size="small" (click)="decreaseSatelliteZoom()">- Zoom Out</button>
          <button ion-button size="small" (click)="increaseSatelliteZoom()">+ Zoom In</button>
        </div>

        <div style="position: relative; width: 100%; max-width: 350px; margin-bottom: 10px">
          <img
            id="streetview-image"
            *ngIf="currentContractorListing"
            [src]="getStreetViewUrl(currentContractorListing.location)"
            alt="Street View"
            style="width: 100%; border-radius: 8px"
          />
          <div
            style="
              position: absolute;
              bottom: 8px;
              left: 8px;
              right: 8px;
              background: rgba(0, 0, 0, 0.2);
              color: #fff;
              padding: 6px 10px;
              border-radius: 6px;
              font-size: 0.7em;
              text-align: left;
            "
          >
            ATTENTION: default view is north facing from pinned location.
          </div>
        </div>
        <div style="display: flex; gap: 8px; margin-bottom: 10px">
          <button ion-button size="small" (click)="streetViewHeading = (streetViewHeading - 15 + 360) % 360">⟲ Left</button>
          <button ion-button size="small" (click)="streetViewHeading = (streetViewHeading + 15) % 360">Right ⟳</button>
          <button ion-button size="small" (click)="decreaseStreetViewFov()">+ Zoom In</button>
          <button ion-button size="small" (click)="increaseStreetViewFov()">- Zoom Out</button>
          <button ion-button size="small" (click)="increaseStreetViewPitch()">↑ Up</button>
          <button ion-button size="small" (click)="decreaseStreetViewPitch()">↓ Down</button>
        </div>
        <div
          style="background: rgba(0, 0, 0, 0.1); margin: 3px 6px 3px 3px; padding: 0px 7px; border-radius: 6px; text-align: left"
        >
          <ion-grid>
            <ion-row>
              <ion-col style="text-align: left">
                <ion-text color="primary">
                  <h1 style="margin: 0px 0px">{{this.currentContractorListing?.contractorListing?.type}}</h1>
                </ion-text>
                <p style="margin: 0px 0px">{{this.currentContractorListing?.contractorListing?.optionType}}</p>
              </ion-col>
              <ion-col style="text-align: right">
                <div
                  style="padding-top: 3px"
                  *ngIf="!this.currentContractorListing?.contractorListing?.optionType?.toLowerCase().includes('open to bid')"
                >
                  <sup> <b>Contractor:</b> {{this.currentContractorListing?.contractorListing?.company?.companyName}} </sup>
                  <div style="display: flex; justify-content: flex-end">
                    <app-rating id="contractorRating" [percent]="this.contractorRating"></app-rating>
                  </div>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col style="text-align: left"> </ion-col>
              <ion-col id="col1" style="text-align: right">
                <div style="font-size: smaller">
                  <b>Homeowner:</b>
                  {{this.currentContractorListing?.contractorListing?.address?.street}},
                  {{this.currentContractorListing?.contractorListing?.address?.city}}
                  {{this.currentContractorListing?.contractorListing?.address?.state}},
                  {{this.currentContractorListing?.contractorListing?.address?.postalCode}}
                </div>
                <div style="display: flex; justify-content: flex-end">
                  <app-rating id="homeOwnerRating" [percent]="this.homeOwnerRating"></app-rating>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal id="HelpOptions" class="sizer-modal" [isOpen]="isPopupOpenOptions" (ionModalDidDismiss)="closePopupOptions()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start"> </ion-buttons>
          <ion-title>?</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closePopupOptions()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <h1>Options</h1>
        <ion-text color="primary">
          <h2>Unsolicited Bid</h2>
        </ion-text>
        <p>
          <ion-text color="warning"><ion-icon name="warning"></ion-icon></ion-text>
          This desribes when when a contractor is determined to expand their territory in this particular area based on efficiency
          models. The contractor may offer a competitive price or other incentives for the homeowner to consider. Only the
          homeowner, one who claimed the property, can view the contractor's unsolicited bid(s).
          <!-- I saw a werewolf with a Chinese menu in his hand. Walking through the
          <ion-text color="success"><sub>streets</sub></ion-text> of Soho in the rain. He
          <ion-text color="medium"><i>was</i></ion-text> looking for a place called Lee Ho Fook's. Gonna get a
          <ion-text color="danger">big dish of beef chow mein.</ion-text> -->
        </p>
        <ion-text color="primary">
          <h2>Open to bid</h2>
        </ion-text>
        <p>
          <ion-text color="warning"><ion-icon name="warning"></ion-icon></ion-text>
          This desribes when a homeowner has claimed thier property and indicates they are looking for a contractor to bid on a
          job. They will offer details including what's important to them such as a budget, quality, timeliness, rating, etc.
          <!-- I saw a werewolf with a Chinese menu in his hand. Walking through the
          <ion-text color="success"><sub>streets</sub></ion-text> of Soho in the rain. He
          <ion-text color="medium"><i>was</i></ion-text> looking for a place called Lee Ho Fook's. Gonna get a
          <ion-text color="danger">big dish of beef chow mein.</ion-text> -->
        </p>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
