<ion-header>
  <ion-toolbar>
    <ion-title>Search</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>    
      <ion-grid>
        <ion-row>
          <ion-col size-md="3" size-lg="2" style="display: flex; align-items: flex-end; gap: 6px;">
            <ion-input
              label="Lookup range? (miles)"
              label-placement="floating"
              #findRadiusInput
              [(ngModel)]="findRadius"
              (ngModelChange)="onRadiusInputChange($event)"
              (ionFocus)="selectText()"
              placeholder="Enter Range"
              style="flex: 1;"
            ></ion-input>
            <!-- <ion-button size="small" fill="outline" class="small-button" (click)="onRadiusChange()">Apply</ion-button>  -->
              
          </ion-col>   
          <ion-col size-md="3" size-lg="3">      
            <ion-select label="Industry? " label-placement="floating" [(ngModel)]="selectedIndustry" (ionChange)="onIndustryChange()">
              <!-- <ion-select-option value="All">All</ion-select-option> -->
              <ion-select-option value="Lawn care">Yard care</ion-select-option>
              <ion-select-option value="Pesticides">Pesticides</ion-select-option>
              <ion-select-option value="Weed & Feed">Weed & Feed</ion-select-option>
              <ion-select-option value="Pool maintenance">Pool maintenance</ion-select-option>  
              <ion-select-option value="Poop scoop">Poop scoop</ion-select-option>
              <ion-select-option value="Maid & Cleaning Services">Maid & Cleaning Services</ion-select-option>
            </ion-select>        
            <!-- other options
            <ion-select label="What are you intested in? " label-placement="floating">
              <ion-select-option value="apple">Find a service provider</ion-select-option>
              <ion-select-option value="banana">Buy, sell, or trade</ion-select-option>
              <ion-select-option value="orange">Rate another</ion-select-option>
            </ion-select>                  -->
           </ion-col>            
        </ion-row>
        <ion-row>
          <ion-col size="12" >
            <div style="padding-bottom: 7px;"><b>"Click the map to find any listings in that area."</b></div>
            <span *ngIf="withinRangeContractorListings.length >= 1">
                       <b>{{withinRangeContractorListings.length}}</b> Items of interest within <b>{{ findRadiusForUI }}</b> Miles of target address:<b>              
              <span *ngIf="targetAddress.street && targetAddress.street.trim() !== ''">{{ targetAddress.street }}, </span>              
              {{ targetAddress.postalCode }}
            </b>  
            </span>
      
            <!-- hiding, for now as i'm not using. don't remove yet. -->
             <ion-button *ngIf="false" size="small" class="small-button" (click)="presentAlert()">change</ion-button>          
              <ion-alert
              trigger="present-alert"
              header="Please enter address"
              [buttons]="alertButtons"
              [inputs]="alertInputs"
              ></ion-alert>
          </ion-col>
        </ion-row>
        <ion-row id="contentx">      
          <ion-col class="fixed-width-col">            
            <div class="map-container">
              <google-map [options]="mapOptions" (mapClick)="onMapClick($event)">
                <!-- Existing markers -->                
                <map-marker
                  *ngFor="let addressObj of withinRangeContractorListings"
                  [position]="getLatLng(addressObj)"
                  [icon]="rangeIcon"
                  [label]="{
                    text: addressObj.contractorListing.company.companyName,
                    color: 'black',
                    fontSize: '12px'
                  }"
                  (mapClick)="onMarkerClick(addressObj)"
                ></map-marker>
                <!-- User-added marker -->
                <map-marker *ngIf="userAddedMarker" [position]="userAddedMarker" label="Target"></map-marker>
                <map-info-window #infoWindow>
                  <div>
                    <!-- Info window content -->
                  </div>
                </map-info-window>
                 <!-- miles to meters -->
                <map-circle
                  *ngIf="userAddedMarker"
                  [center]="userAddedMarker"
                  [radius]="findRadiusForUI * 1609.34"
                  [options]="{
                    strokeColor: '#4285F4',
                    strokeOpacity: 0.8,
                    strokeWeight: 2,
                    fillColor: '#4285F4',
                    fillOpacity: 0.1,
                    clickable: false,
                    draggable: false
                  }"
                ></map-circle>
              </google-map>
            </div>
          </ion-col>  
          <ion-col size="12" size-md="6" size-lg="6">      
            <div *ngIf="withinRangeContractorListings.length >= 1" style="padding-bottom: 10px;">
              <ion-label><sup>Show:</sup></ion-label>
              <div class="checkbox-group">
                <ion-checkbox [(ngModel)]="filterForSale" labelPlacement="end" (click)="selectCheckBox('filterForSale')">For Sale</ion-checkbox>
                <ion-checkbox [(ngModel)]="filterTrade" labelPlacement="end" (click)="selectCheckBox('filterForTrade')">Trade</ion-checkbox>
                <ion-checkbox [(ngModel)]="filterCover" labelPlacement="end" (click)="selectCheckBox('filterForCover')">Cover</ion-checkbox>  
                  <ion-icon
                    name="help-circle-outline"
                    (click)="openPopup()"
                    title="Click for more information"
                    style="cursor: pointer;"
                  ></ion-icon>
              </div>
            </div>

            <!-- <div style="padding-bottom: 5px;">Override ordering preference</div>        
            <ion-radio-group [(ngModel)]="sortingValue" class="radio-group">
              <div class="radio-label">
                <ion-radio slot="start" value="useAi"></ion-radio>
                <span (click)="selectRadio('useAi')">Use Ai</span>
              </div>
              <div class="radio-label">
                <ion-radio slot="start" value="proximity"></ion-radio>
                <span (click)="selectRadio('proximity')">Nearest me</span>
              </div>
              <div class="radio-label">
                <ion-radio slot="start" value="Popularity"></ion-radio>
                <span (click)="selectRadio('Popularity')">Popularity by Area</span>
              </div>
              <div class="radio-label">
                <ion-radio slot="start" value="cost"></ion-radio>
                <span (click)="selectRadio('cost')">Cost</span>
              </div>
              <div class="radio-label">
                <ion-radio slot="start" value="Quality"></ion-radio>
                <span (click)="selectRadio('Quality')">Quality</span>
              </div>
              <div class="radio-label">
                <ion-radio slot="start" value="Dependability"></ion-radio>
                <span (click)="selectRadio('Dependability')">Dependability</span>
              </div>
              <div class="radio-label">
                <ion-radio slot="start" value="Professionalism"></ion-radio>
                <span (click)="selectRadio('Professionalism')">Professionalism</span>
              </div>
            </ion-radio-group> -->
              
            <!-- <ion-reorder-group [disabled]="false" (ionItemReorder)="handleReorder($any($event))">
              @for (item of items; track item) {
              <ion-item>
                <ion-label> {{ item }} </ion-label>
                <ion-reorder slot="end"></ion-reorder>
              </ion-item>
              }
            </ion-reorder-group> -->


            <ul>
              <li style="padding-bottom: 7px;"  *ngFor="let addressObj of withinRangeContractorListings">
                <div id="DisplayCard-List">
                  {{addressObj.contractorListing.type}} Services by {{addressObj.contractorListing.company.companyName}}<br> 
                  <sup> at {{ addressObj.contractorListing.address.street }}, {{ addressObj.contractorListing.address.city }}, {{ addressObj.contractorListing.address.state }} {{ addressObj.contractorListing.address.postalCode }}</sup>
                  <div style="font-size: small;" >
                    phone: <a href="tel:904-386-6129">904-386-6129</a><br>
                    email: <a href="mailto:juddsurfs@gmail.com">juddsurfs&#64;gmail.com</a><br>
                    website: <a target="_blank" href="https://www.google.com">website: www.google.com</a>
                  </div>
                </div>
              </li>
            </ul>
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-card>
    <!-- Popup Modal -->
  <ion-modal class="sizer-modal" [isOpen]="isPopupOpen" (ionModalDidDismiss)="closePopup()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Information</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closePopup()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <p style="padding: 16px;">This is how it works!</p>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>