<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Full-page overlay spinner -->
  <div *ngIf="loading" class="overlay">
    <ion-spinner name="crescent"></ion-spinner>
  </div>

  <form (ngSubmit)="onLogin()">
    <!-- Email -->
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input
        type="email"
        [(ngModel)]="email"
        name="email"
        required
      ></ion-input>
    </ion-item>

    <!-- Password -->
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input
        type="password"
        [(ngModel)]="password"
        name="password"
        required
      ></ion-input>
    </ion-item>

    <!-- Buttons -->
    <ion-button type="submit" expand="block" [disabled]="loading">Login</ion-button>
    <ion-button expand="block" color="secondary" (click)="onCancel()" [disabled]="loading">Cancel</ion-button>
    <ion-button fill="clear" expand="block" routerLink="/reset-password" [disabled]="loading">
      Forgot Password?
    </ion-button>
    <ion-button fill="clear" expand="block" routerLink="/create-user" [disabled]="loading">
      Create New User
    </ion-button>

    <p class="center-text">
      *Login is required to participate but only used internally to support use of the application. <br>
      We will <i>never</i> share your information.
    </p>
  </form>

  <!-- Error Message -->
  <ion-text *ngIf="errorMessage" color="danger">{{ errorMessage }}</ion-text>
</ion-content>
