.button-custom-padding {
    padding: 10px 25px 0 25px; /* Top, Right, Bottom, Left */
  }

.button-underline-only {
   
    text-decoration: underline; /* Add an underline */
    background: transparent; /* Make the background transparent */
    color: var(--ion-color-primary); /* Optional: Set the text color */
    font-size: inherit; /* Optional: Inherit font size */   
    box-shadow: none; /* Remove any shadow */
  }

.center-text {
  text-align: center; /* Center the text horizontally */
  margin-top: 16px; /* Optional: Add some spacing above the text */
  font-size: 14px; /* Optional: Adjust the font size */
  color: var(--ion-color-medium); /* Optional: Use a neutral color */
}