.pp-QBSGDFGR8JRLN {
  text-align: center;
  border: none;
  border-radius: 0.25rem;
  min-width: 11.625rem;
  padding: 0 2rem;
  height: 2.625rem;
  font-weight: bold;
  background-color: #FFD140;
  color: #000000;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.25rem;
  cursor: pointer;
}

ion-card {
  margin: 4px !important; /* Adjust the margin as needed and add !important */
}

ion-grid {
  padding: 1px !important; /* Adjust the margin as needed and add !important */
}

