<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Map View
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Map View</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Lookup range (miles)</ion-card-subtitle>
      <ion-card-title>
        <ion-input [(ngModel)]="findRadius" (ngModelChange)="onRadiusChange()" placeholder="Enter Range"></ion-input>
        <ion-button id="present-alert">Click Me</ion-button>
        <ion-alert
          trigger="present-alert"
          header="Please enter address"
          [buttons]="alertButtons"
          [inputs]="alertInputs"
        ></ion-alert>
      </ion-card-title>
    
    </ion-card-header>
    <ion-card-content>
      <h3>Addresses Within <b>{{ findRadius }}</b> Miles of <b>{{ targetAddress }}</b></h3>
      <ul>
        <li *ngFor="let addressObj of withinRangeAddresses">{{ addressObj.address }}</li>
      </ul>
      <div class="map-container">
        <google-map [options]="mapOptions">
          <map-marker *ngIf="targetLocation" [position]="targetLocation" label="Target"></map-marker>
          <map-marker *ngFor="let addressObj of withinRangeAddresses" [position]="getLatLng(addressObj)"></map-marker>
        </google-map>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>

