<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1 a
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1 a</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item>
    <ion-input label="Lookup Range in Miles: " [(ngModel)]="findRadius" (ngModelChange)="onRadiusChange()" placeholder="Enter Range"></ion-input>
  </ion-item>
  <div>
    <h1>Addresses Within {{ findRadius }} Miles of {{ targetAddress }}</h1>
    <ul>
      <li *ngFor="let addressObj of withinRangeAddresses">{{ addressObj.address }}</li>
    </ul>
    <div >
      <google-map [options]="mapOptions">
        <map-marker *ngIf="targetLocation" [position]="targetLocation" label="Target"></map-marker>
        <map-marker *ngFor="let addressObj of withinRangeAddresses" [position]="getLatLng(addressObj)"></map-marker>
      </google-map>
    </div>
  </div>
</ion-content>

