<ion-app>
  <ion-header>
    <ion-toolbar>
      <!-- <ion-title>Travel less, Pay less, Make more</ion-title> -->

      <ion-buttons [collapse]="true" slot="start">
        <ion-menu-button auto-hide="false" id="main-content"></ion-menu-button>
        <!-- (click)="onMenu()"  -->
        <div *ngIf="!isAuthPage() && this.authService.isLoggedIn() === false" id="createAccountDiv">
          <ion-button size="small" fill="outline" [routerLink]="['/create-user']">Create login </ion-button>
          <sup style="padding-left: 3px">∙ Free, Easy, Never shared</sup>
        </div>
        <div *ngIf="!isAuthPage() && this.authService.isLoggedIn() === true" id="addDiv">
          <ion-button id="idAdd" size="small" fill="outline" (click)="onAdd()">Add </ion-button>
          <!-- <sup style="padding-left: 3px">∙free and easy∙</sup> -->
        </div>
        <!-- <ion-button size="small" fill="outline" [routerLink]="['/tabs/tabDashboard']"> Post it </ion-button> -->
      </ion-buttons>

      <!-- <div style="padding-left: 10px; background-color: yellow">Under Construction</div> -->
      <ion-buttons slot="end">
        <!-- Circle with User's Initials -->
        <ion-button title="{{ loggedInEmail }}" *ngIf="!authService.isLoggedIn()" routerLink="/login"><u>Login</u></ion-button>
        <ion-button title="{{ loggedInEmail }}" *ngIf="authService.isLoggedIn()" (click)="onLogout()"><u>Logout</u></ion-button>
        <div title="{{ loggedInUser + ' at ' + contractorName }}" *ngIf="loggedInUser" class="user-circle">
          {{ getInitials(loggedInUser) }}
        </div>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content> </ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-app>

<!-- Main Menu -->
<ion-menu menuId="main" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Main Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click)="closeMenu()" [routerLink]="['/tabs/tabSearch']">Search feature</ion-item>
      <ion-item (click)="closeMenu()" [routerLink]="['/tabs/tabDashboard']">Your Dashboard</ion-item>
      <ion-item (click)="onMenu()">Dispute or report issue</ion-item>
      <ion-item (click)="onMenu()">Contact us</ion-item>
      <ion-item (click)="closeMenu()" [routerLink]="['/tabs/tabAbout']">About us</ion-item>
      <ion-item *ngIf="loggedInEmail === 'juddsurfs@gmail.com'" (click)="closeMenu()" [routerLink]="['/test-page']"
        >Test page if Juddsurfs</ion-item
      >
    </ion-list>
  </ion-content>
</ion-menu>

<!-- <ion-content id="main-content">
  <ion-menu-button></ion-menu-button>  
</ion-content> -->
