<ion-header>
  <ion-toolbar>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card> 
        <ion-grid>
          <ion-row>
            <ion-col size="12" size-md="8">
              <h4><sup>*</sup><i> Our mission is to promote savings by leveraging proximity </i></h4>
              <p><ion-icon name="star-outline"></ion-icon> <i> Consumers</i> can search for contractors by close proximity, list a job for hire, or even open for bidding.</p>
              <ion-icon name="star-outline"></ion-icon> <i> Contractors</i> can respond to consumers <i>and</i> broker their individual accounts by leveraging close Proximity as well. 
      
               <p><ion-icon name="star-outline"></ion-icon> Offer simplified collection using <a title="Click for more information" (click)="openPopup()">payment services.</a> <sup>powered by</sup>payPal. 
              </p>
              <p>
                <ion-icon name="star-outline"></ion-icon> Easy to use <a title="Click for more information" (click)="openPopup()">referrals</a> programs.
              </p>
              <p>
                <ion-icon name="star-outline"></ion-icon> Company <a title="Click for more information" (click)="openPopup()">reviews</a> and individual <a title="Click for more information" (click)="openPopup()">user ratings</a>.
              </p>    
              <p> 
                <sup>Currently supported services: </sup> <br>
                <ion-chip>Landscaping & Lawn care</ion-chip>
                <ion-chip color="primary">Pesticides</ion-chip>
                <ion-chip color="secondary">Weed & Feed</ion-chip>
                <ion-chip color="tertiary">Pool maintenance</ion-chip>
                <ion-chip color="success">Poop scooper</ion-chip></p>
              <h1>NEXT. work on below CONTRACTOR section</h1>
             
            </ion-col> 
            <ion-col size="12" size-md="4" style="padding-left: 30px;">
              <h4>What it cost</h4>                    
              <p>Contractors can pay $35 annually to list all their accounts. </p>
              <p>...or pay $5 per account to list.</p>      
            <p style="font-weight: bolder;"><i>{{locationNote}}</i></p>
            <ion-button size="small" fill="outline">Create account</ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <!-- <ion-col size="12" size-md="4" >               -->
              <ion-col> 
                <ion-card class="smaller-card"> 
                  <ion-grid>
                    <ion-row>
                      <ion-col>
                        <h6>Consumer Information</h6>
                        <p>
                          We all benefit from cost savings as contractors look to service accounts in close proximity.  
                          Customer satisfaction also improves as contractors work towards better reviews and higher user ratings.  
                          Many also offer referrals for your participation.
                        </p>            
                        <p>Search for a contractor in near proximity to you <i>or</i> post job for hire or bid.</p>          
                        <ion-button size="small" fill="outline" routerLink="/tabs/tabSearch">Search</ion-button>
                        <ion-button size="small" fill="outline" routerLink="/tabs/tabConsumerPost">Post / Request Bids</ion-button>                        
                        <ion-img src="assets/mapEg.gif"></ion-img>          
                      </ion-col>
                    </ion-row>
                  </ion-grid>     
                </ion-card>                                 
            </ion-col>
            <ion-col size="12" size-md="4" >   
              <ion-card> 
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <h6>Contractor Details</h6>
                      <div>
                       
                        <p>We welcome you to join our service.  Here are a few benefits...</p>    
                        <ul> <!-- <sup>Proximity benefits</sup> -->
                          <li>Cost savings from reduced travel (time/fuel/etc)</li>
                          <li>Preparation time (eg. loading & unloading equipment)</li>             
                        </ul>
                        <ul>  
                          <sup>Also,</sup>
                            <li>Buy, Sell,Trading accounts  
                              <ion-icon
                                name="help-circle-outline"
                                (click)="openPopup()"
                                title="Click for more information"
                                style="cursor: pointer;"
                            ></ion-icon>
                          </li>     
                          <li>Simple <u>payment services</u>.  
                            <ion-icon
                            name="help-circle-outline"
                            (click)="openPopup()"
                            title="Click for more information"
                            style="cursor: pointer;"
                            ></ion-icon></li>  
                          <li>Coverage while on medical leave, vacation, other   
                            <ion-icon
                            name="help-circle-outline"
                            (click)="openPopup()"
                            title="Click for more information"
                            style="cursor: pointer;"
                            ></ion-icon></li>        
                        <li>Facilitate referral programs  
                          <ion-icon 
                          name="help-circle-outline"
                          (click)="openPopup()"
                          title="Click for more information"
                          style="cursor: pointer;"
                          ></ion-icon>
                        </li>   
                      </ul>
                      </div>         
                    </ion-col>
                  </ion-row>
                </ion-grid>     
              </ion-card>
                  
            </ion-col>
            <ion-col size="12" size-md="4" > 
              <ion-card > 
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <h6>Why?  </h6>
                      <p>
                      <ion-icon name="star-outline"></ion-icon> <i> Consumers</i> can find Contractors by close <i>Proximity</i> for significant savings & other incentives. <sub>eg</sub>
                    </p> 
                      <ul> 
                            <li> from reduced travel (time/fuel/other)</li>
                            <li> preparation time (eg. loading & unloading equipment)</li>
                      </ul>
                    
                      <ul>
                      
                        <!-- <li><i>Broadcast</i> 1x service(s) eg. In area tree for trimming   <ion-icon
                          name="help-circle-outline"
                          (click)="openPopup()"
                          title="Click for more information"
                          style="cursor: pointer;"
                      ></ion-icon></li>    -->
                      </ul>
                    </ion-col>
                  </ion-row>
                </ion-grid>     
              </ion-card>     
            </ion-col>
          </ion-row>
        </ion-grid>
    </ion-card>



  <!-- Popup Modal -->
  <ion-modal class="sizer-modal" [isOpen]="isPopupOpen" (ionModalDidDismiss)="closePopup()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Information</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closePopup()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <p style="padding: 16px;">This is how it works!</p>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>



