<ion-header>
  <ion-toolbar>
    <ion-title>Step 1: </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <li style="padding-bottom: 7px" *ngFor="let addressObj of getAddresses()">
    <div>
      {{ addressObj.address }}
      <ion-button size="small" fill="outline" (click)="claimAddress(addressObj)" style="float: right; padding: 0px; margin: 0px">
        Claim
        <ion-icon name="add-circle"></ion-icon>
      </ion-button>
    </div>
  </li>

  <ion-list>
    <ion-item>
      <ion-label position="stacked">Name</ion-label>
      <ion-input [(ngModel)]="record.name"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="block" (click)="goToNext()">Next</ion-button>
</ion-content>
