<ion-header>
  <ion-toolbar>
    <ion-title>Step 1: What would you like to do?</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <p style="margin-left: 15px" *ngFor="let addressObj of getAddresses()">
    {{ addressObj.address }}
    <ion-button
      [disabled]="isLoggedIn === false"
      size="small"
      fill="outline"
      (click)="claimAddress(addressObj)"
      style="float: right; padding-right: 7px; margin: 0px"
    >
      <ion-icon name="add-circle"></ion-icon> Claim
    </ion-button>
    <sup style="color: red" *ngIf="isLoggedIn === false">*Attention: You need to log in prior to claiming a property.</sup>
  </p>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Name</ion-label>
      <ion-input [(ngModel)]="record.name"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button style="padding: 10px" expand="block" (click)="goToNext()">Next</ion-button>
</ion-content>
